* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

main {
    width: 20%; 
    
}

#container {
    border: 2px solid grey;
    border-radius: 15px;
    -webkit-box-shadow: 8px 1px 15px 12px rgba(0,0,0,0.39); 
    box-shadow: 8px 1px 15px 12px rgba(0,0,0,0.39);
    position: relative;
    margin: 20px;
    padding: 20px;
    background-color: rgb(199, 226, 100);
}

h2 {
    text-align: center;
}

p {
    padding: 10px;
}

a {
    margin-left: 15%;
}