* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display:flex;
    justify-content: center;
    height: 100vh;
}

button {
    font-size: 30px;
}

.symb-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.grid {
    width: 300px;
    display: grid;
    grid-template-areas: 
    "display display display display"
    "symb-container symb-container symb-container symb-container"
    "num-container num-container num-container equal"
    "num-container num-container num-container equal"
    "num-container num-container num-container equal"
    "num-container num-container num-container equal";
    gap: 1px;
    align-content: center;
    grid-template-rows: 40px 40px 160px;
}

#display {
    grid-area: display;
}

#symb-container {
    grid-area: symb-container;
    
}

#equal {
    grid-area: equal;
}

#num-container {
    grid-area: num-container;
}

.number {
    background-color: aliceblue;
}

.equal {
    background-color: rgb(231, 88, 88);
    border-bottom-right-radius: 10px;
}

.symbol {
    background-color: grey;
}

.display {
    background-color: rgb(46, 47, 58);
    color: white;
    text-align: end;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-right: 5px;
    font-size: 35px;
}

.num-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}

#zero {
    border-bottom-left-radius: 10px;
}

