* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display:flex;
    justify-content: center;
    height: 100vh;
    
}

.symb-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
}

.grid {
    width: 300px;
    display: grid;
    grid-template-areas: 
    "display display display display"
    "symb-container symb-container symb-container symb-container"
    "num-container num-container num-container equal"
    "num-container num-container num-container equal"
    "num-container num-container num-container equal"
    "num-container num-container num-container equal";
    gap: 1px;
    align-content: center;
}


#display {
    grid-area: display;
}

#symb-container {
    grid-area: symb-container;
    
}

#equal {
    grid-area: equal;
}

#num-container {
    grid-area: num-container;
}

.number {
    background-color: aliceblue;
}

.equal {
    background-color: rgb(231, 88, 88);
}

/*Non riesco centrere l'uguale al centro della traccia*/

.symbol {
    background-color: grey;
}

.display {
    background-color: rgb(46, 47, 58);
    color: white;
    text-align: end;
}

div {
    text-align: center;
}

.num-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}

/*Ho modificato il valore richiesto dall'esercizio, con repeat (4, 1fr)
il risultato della .png non corrispondeva*/
